<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{ site.title }} - {{ site.description }}{% if page.title %} - {{ page.title }}{% endif %}</title>
	<meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <meta property="og:title" content="{{ site.title }} - {{ site.description }}{% if page.title %} - {{ page.title }}{% endif %}" />
  <meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />

  <meta property="og:image" content="{% if page.featureimg %}{{ site.url }}{{ page.featureimg }}{% else %}{{ site.url }}/img/authors/francoisbruneau_big.jpg{% endif %}" />

  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Raleway:400,800,900' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="/favicon.ico">
  
  <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
  <style type="text/css">
    {% capture inline_css %}
      {% include inline.scss %}
    {% endcapture %}
    {{ inline_css | scssify }}
  </style>

	<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	{% feed_meta %}
</head>
