<section id="sidebar">

	<!-- Intro -->
		<section id="intro">
			<a href="{{ site.baseurl }}/" class="logo"><img src="{{ site.baseurl }}/img/logo.jpg" alt="" /></a>
			<header>
				<h2>{{ site.title }}</h2>
				<p>{{ site.description }}</p>
			</header>
		</section>
	{% if site.related_posts.size >= 1 %}
	{% if page.layout == 'post' %}
	<!-- Related Posts -->
		<section>
		<h3>Recommended Posts:</h3>
			<div class="mini-posts">
	{% for post in site.related_posts %}
				<article class="mini-post">
					<header>
						<h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
						<time class="published" datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%d %B, %Y" }}</time>
						<a href="#" class="author">
						{% if post.author %}
							{% assign author = site.data.authors[post.author] %}{% else %}{% assign author = site.owner %}
						{% endif %}
						{% if author.avatar contains 'http' %}
						<img src="{{ author.avatar }}" alt="{{ author.name }}">
						{% elsif author.avatar %}
						<img src="{{ site.baseurl }}/img/authors/{{ author.avatar }}" alt="{{ author.name }}">
						{% endif %}
						</a>
					</header>
					{% if post.featureimg %}
					<a href="{{ post.url | prepend: site.baseurl }}" class="image"><img src="{{ post.featureimg | prepend: site.baseurl }}"></a>
					{% endif %}
				</article>
	{% endfor %}
			</div>
		</section>
	{% endif %}
	{% endif %}

	<!-- About -->
		<section class="blurb">
			<h2>Hello!</h2>
			<p>Je suis un Breton qui vit à Lausanne, en Suisse. J'ai la chance de gagner ma vie dans le web – un domaine qui me fascine depuis l'adolescence.</p>
			<p>À côté de mon métier de développeur, je pratique la photographie et la vidéo. Je voulais donner à ces passions un endroit pour vivre au grand jour.</p>
			<p>J'écris sur le cinéma, la réalisation de films, le voyage, les livres, également sur des rencontres et des moments vécus.</p>
			<p>Ici, pas besoin de choisir entre Spielberg et Antonioni.</p>
			<ul class="actions">
				<li><a href="{{ site.baseurl }}/a-propos/" class="button">En savoir plus</a></li>
			</ul>
		</section>

	<!-- Footer -->
		<section id="footer">
			<ul class="icons">
				<li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
				<li><a href="{{ site.baseurl }}/feed.xml" target="_blank" class="fa-rss"><span class="label">RSS</span></a></li>
				<li><a href="mailto:{{site.author.email}}" class="fa-envelope"><span class="label">Email</span></a></li>
			</ul>
			<p class="copyright">&copy; François Bruneau. Design: <a href="http://html5up.net" target="_blank">HTML5 UP</a>.</p>
		</section>

</section>
